@font-face {
    font-family: roboto;
    src: url(./assets/fonts/roboto-font.woff2);
}

@font-face {
    font-family: playfair;
    src: url(./assets/fonts/playfair-display-font.woff2);
}

body {
    margin: 0px;
    color: #334155;
    font-family: playfair;
}

main {
    overflow: hidden;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar {
    overflow: hidden;
    position: fixed;
    display: flex;
    background-color: #bae6fd;
    top: 0;
    width: 100%;
    justify-content: center;
    gap: 20px;
    z-index: 1;
    border-bottom: solid 1px black;
}

.navbar a {
    float: left;
    display: block;
    color: #334155;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header {
    display: flex;
    background: linear-gradient(160deg, #bae6fd 65%, #e0f2fe 65%);
}

.pictureContainer {
    position: relative;
}

.name {
    position: absolute;
    top: 600px;
    right: 20px;
    font-size: 50px;
    color: #f1f5f9;
}

.headerPhoto {
    max-width: 600px;
    height: auto;
    padding-left: 130px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.aboutMe {
    display: grid;
    align-content: center;
    float: none;
    padding-top: 50px;
    padding-right: 150px;
    padding-bottom: 50px;
    padding-left: 20px;
}

.aboutMeText {
    font-size: 25px;
}

.aboutMeLinks {
    display: grid;
    grid-template-columns: 50px 50px;
    gap: 10px;
    justify-content: end;
}

.icon {
    max-width: 50px;
    height: auto;
}

.myWork {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #e0f2fe;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1400px;
}

.project {
    max-width: 380px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f9ff;
    box-shadow: 5px 5px 10px #e5e7eb;
}

.projectDescription {
    padding: 20px;
}

.projectSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImage {
    max-width: 360px;
    height: auto;
}

.projectDescriptionHeader {
    display: flex;
    margin-top: 10px;
}

.gap {
    margin-left: auto;
    margin-right: 5px;
}

.projectTitle {
    margin: 0;
}

.projectIcon {
    width: 25px;
    height: auto;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(160deg, #e0f2fe 65%, #bae6fd 65%);
    padding: 5px;
}

.contactInfo {
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address,
.phoneNumber,
.emailAddress {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.phoneIcon,
.emailIcon {
    max-width: 30px;
    height: auto;
}

.footerImage {
    margin: 20px;
}

@media (max-width: 550px) {
    .navbar {
        display: none;
    }

    .header {
        flex-direction: column;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
    }

    .name {
        bottom: 10px;
        top: auto;
    }

    .aboutMe {
        padding-right: 20px;
    }

    .aboutMeText {
        font-size: medium;
    }

    .headerPhoto {
        max-width: 350px;
        padding: 0px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footerImage {
        max-width: 350px;
        margin: 0px;
    }

    .contactInfo {
        margin: 0;
        padding: 15px;
    }
}

@media (min-width: 551px) and (max-width: 1000px) {
    .header {
        flex-direction: column;
        align-items: center;
    }

    .headerPhoto {
        max-width: 600px;
        float: left;
        padding-left: 0;
    }

    .aboutMe {
        padding-right: 50px;
    }

    .footerImage {
        max-width: 300px;
    }

    .contactInfo {
        margin: 30px;
    }
}